{% extends "skeleton.html" %}
{% block content %}
    <h2>Handle Credentials (Admin)</h2>
    <form method="get" action="">
        <label>
            Filter by STATE:
        </label>
        <select id="stateselector" name="stateselector">
            <option value="ALL" selected="selected">All</option>
            {% for state in states %}
                <option value="{{state}}"
                        {% ifequal state selected_state%}
                            selected="selected"
                        {% endifequal %}
                     >{{state}}</option>
            {% endfor %}
        <select>
        <input class="submit" type=submit value="Go"></input>
    <form>
    <table id="filtered_credentials" style="text-align: left;border:1px solid silver; width: 800px;">
        <tr>
            <th>Id</th>
            <th>Time</th>
            <th>e-mail</th>
            <th>name</th>
            <th>State</th>
            <th>User</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            </td>
            <td></td>
        </tr>
        {% for req in filtered_credentials %}
        <tr>
            <td><a href="/{{url}}{{req.id}}/">{{req.id}}</a></td>
            <td>{{req.datetime}}</td>
            <td>{{req.email}}</td>
            <td>{{req.name}} {{req.surname}}</td>
            <td style="color:
                {% if req.is_pending %} blue {% endif %}
                {% if req.is_accepted %} green {% endif %}
                {% if req.is_rejected %} gray {% endif %}
                {% if req.is_error %} red {% endif %}
                ;">{{req.state}}</td>
            <td>{{req.user}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
